{% extends "store/base.html" %}

{% block title %}
<title>
    Loaned Books List | Library
</title>
{% endblock %}

{% block content %}

<h3>Loaned Books list</h3>

<table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Borrow Date</th>
        <th scope="col">Return Buttons</th>
        </tr>
    </thead>
    <tbody>
        {% for copy in books %}
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="/book/{{copy.book.id}}/">{{ copy.book.title }}</a></td>
        <td>{{ copy.book.author }}</td>
        <td>{{ copy.book.genre }}</td>
        <td>{{ copy.borrow_date }}</td>
        <td><button class="btn btn-primary" onclick="returnBook({{ copy.id }})">Return {{ copy.book.title }}</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
// Fill in this function by yourself. It should make a post call to the returnBookView and display an appropriate message
function returnBook(bid){
    console.log("BID :", bid)

    $.ajax({
            url: "{% url 'return-book' %}",
            method: "POST",
            data: {
                bid: bid
            },
            success: function(data, status, xhr){
                console.log(data)
                if (data.message === 'success') {
                    // Book return successful, display a success message and reload the page
                    alert('Book returned successfully!');
                    location.reload();
                } else if (data.message === 'failure') {
                    // Book return failed, display an error message
                    alert('Failed to return the book.');
                } else {
                    // Some other error occurred, display an error message
                    alert('An error occurred while processing the request.');
                }
            },
            error: function(xhr, status, err){
                alert("Some error occured");
            }
        })
}
</script>

{% endblock %}